
.todoItem {
    display: flex;
    list-style-type: none;
    padding:16px 16px 16px 16px;
    font-size: 24px;
    height: 40px;
    border-bottom: #aaa 0.5px solid;
    background-color: white;
}

.todoDetail {
    flex: 1;
    border: none;
    font-size: 24px;
}

.todoDetailChecked {
    flex: 1;
    border: none;
    font-size: 24px;
    text-decoration: line-through;
    opacity: 30%;
}

.deleteTodo {
    border: none;
    background: none;
    color: indianred;
    width: 60px;
    font-size: 24px;
}