.mainInput {
    margin: 0 auto;
    box-shadow: #aaa 0 10px 10px 3px;

}

.input {
    margin-left: 44px;
    font-size: 24px;
    width: 500px;
    height: 40px;
    border: none;
}

.inputItem {
    background-color: white;
    border-bottom: #aaa 0.5px solid;
    padding:16px 16px 16px 16px;
}

.checkAll {
    position: absolute;
    width: 15px;
    zoom: 180%;
    margin-right: 5px;
}

.bottomBorderOne {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    width: 580px;
    border-bottom: #aaa 0.5px solid;
    box-shadow: #aaa 0 10px 10px 3px;
}

.countItems {
    padding-left: 15px;
    position: relative;
}

.filters {
    position: absolute;
    left: 17%;
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0 50px;
}

.completed {
    position: absolute;
    right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.bottomBorderTwo {
    position: relative;
    background: white;
    width: 570px;
    height: 3px;
    border-bottom: #aaa 0.5px solid;
    border-left: #aaa 0.5px solid;
    border-right: #aaa 0.5px solid;
    margin: auto;
}

.bottomBorderThree {
    position: relative;
    background: white;
    width: 560px;
    height: 3px;
    border-bottom: #aaa 0.5px solid;
    border-left: #aaa 0.5px solid;
    border-right: #aaa 0.5px solid;
    margin: auto;
}

.completedButton {
    cursor:pointer;
    background: none;
    border: none;
    font-size: 16px;
    outline: none;
}

.completedButton:hover {
    text-decoration: underline;
}

.completedButton:active {
    text-decoration: none;
}