.mainInput {
    margin: 0 auto;
    box-shadow: #aaa 0 10px 10px 3px;

}

.input {
    margin-left: 44px;
    font-size: 24px;
    width: 500px;
    height: 40px;
    border: none;
}

.inputItem {
    background-color: white;
    border-bottom: #aaa 0.5px solid;
    padding:16px 16px 16px 16px;
}

.checkAll {
    position: absolute;
    width: 15px;
    zoom: 180%;
    margin-right: 5px;
}

.todoItem {
    display: flex;
    list-style-type: none;
    padding:16px 16px 16px 16px;
    font-size: 24px;
    height: 40px;
    border-bottom: #aaa 0.5px solid;
    background-color: white;
}

.checkbox {
    width: 15px;
    zoom: 180%;
    margin-right: 5px;
}

.todoDetail {
    flex: 1;
    border: none;
    font-size: 24px;
}

.todoDetailChecked {
    flex: 1;
    border: none;
    font-size: 24px;
    text-decoration: line-through;
    opacity: 30%;
}

.deleteTodo {
    border: none;
    background: none;
    color: indianred;
    width: 60px;
    font-size: 24px;
}

.bottomBorderOne {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    width: 580px;
    border-bottom: #aaa 0.5px solid;
    box-shadow: #aaa 0 10px 10px 3px;
}

a {
    text-decoration: none;
    color: black;
}

.bottomBorderTwo {
    background: white;
    width: 570px;
    height: 3px;
    border-bottom: #aaa 0.5px solid;
    border-left: #aaa 0.5px solid;
    border-right: #aaa 0.5px solid;
    margin: auto;
}

.bottomBorderThree {
    background: white;
    width: 560px;
    height: 3px;
    border-bottom: #aaa 0.5px solid;
    border-left: #aaa 0.5px solid;
    border-right: #aaa 0.5px solid;
    margin: auto;
}